.facebook {
  color: hwb(234 12% 36%); }

.instagram {
  color: #ef15; }

.twitter {
  color: #058fb9; }

.primerEstilo, .segundoEstilo {
  font-family: Helvetica, sans-serif;
  text-align: center; }

.segundoEstilo {
  font-size: 20px;
  font-weight: bold; }

.parrafosConEstilo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  text-align: center; }

header {
  background-color: #ebf5f1; }
  header a {
    text-decoration: none;
    color: #000; }

nav {
  background-color: #ebf5f1;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 5px;
  z-index: 1000000;
  display: flex;
  justify-content: center; }
  nav a {
    display: flex;
    padding: 7px 10px;
    font-size: 20px;
    margin: 0 2px;
    transition: .5s ease all;
    text-decoration: none;
    color: #000; }
    nav a:hover {
      text-decoration: underline; }

.presentation {
  height: 720px;
  font-size: 25px; }

.presentation-video {
  height: 800px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1; }
  .presentation-video video {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.presentation-content {
  color: #fff;
  text-align: center;
  padding: 250px 0;
  margin: auto; }

.carta {
  grid-area: about;
  display: grid;
  grid-template-areas: "img1 img1 parrafo1 parrafo1" "parrafo2 parrafo2 img2 img2";
  padding: 10px; }

.img1 {
  grid-area: img1;
  padding: 10px; }

.parrafo1 {
  grid-area: parrafo1;
  padding: 10px; }

.img2 {
  grid-area: img2;
  padding: 10px; }

.parrafo2 {
  grid-area: parrafo2;
  padding: 10px; }

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0px; }

.producto-contenedor {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 350px;
  height: 450px;
  padding: 20px;
  margin: 20px; }
  .producto-contenedor:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    z-index: 1000px; }

.contenedor-producto {
  padding: 2px 2px; }

.contenedor-contactoPadre {
  grid-area: contacto;
  background: #ebf5f1;
  color: #000;
  line-height: 1.6;
  padding: 0 1.5em;
  margin-top: 20px; }

.contenedor-contactoHijo {
  max-width: 1170px;
  margin: 50px 0;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em; }

ul {
  list-style: none;
  padding: 0; }

.logo {
  font-size: 32px; }

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(14, 12, 12, 0.3); }
  .contact-wrapper > * {
    padding: 1em; }

.contact-form {
  background: #ebf5f1; }
  .contact-form form label {
    display: inline-block; }
  .contact-form form p {
    margin: 0;
    padding: 1em; }
  .contact-form form .block {
    grid-column: 1 / 3; }
  .contact-form form input, .contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #000;
    border-bottom: 1px solid #000; }
  .contact-form form button {
    color: #ebf5f1;
    background: #000;
    border: none;
    text-transform: uppercase;
    padding: 1em;
    width: 100%;
    padding: .7em;
    outline: 0; }
    .contact-form form button:hover {
      background: #ebf5f1;
      color: #000;
      transition: background-color 1s ease-out;
      outline: 0; }
    .contact-form form button:focus {
      background: #000;
      color: #ebf5f1;
      transition: background-color 1s ease-out;
      outline: 0; }

iframe {
  grid-area: iframe;
  height: 300px;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center; }

.redes {
  color: #000;
  padding: 0; }

@media (max-width: 700px) {
  .carta {
    display: grid;
    grid-template-areas: "parrafo1 parrafo1" "img1 img1" "parrafo2 parrafo2" "img2 img2"; } }
