.contenedor-contactoPadre {
  grid-area: contacto;
  background: $color-primario;
  color: #000;
  line-height: 1.6;
  padding: 0 1.5em;
  margin-top: 20px;
}

.contenedor-contactoHijo {
  max-width: 1170px;
  margin: 50px 0;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  font-size: 32px;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(14, 12, 12, 0.3);

  > * {
    padding: 1em;
  }
}

.contact-form {
  background: $color-primario;

  form {
    label {
      display: inline-block;
    }

    p {
      margin: 0;
      padding: 1em;
    }

    .block {
      grid-column: 1 / 3;
    }

    input, textarea {
      width: 100%;
      padding: .7em;
      border: none;
      background: none;
      outline: 0;
      color: #000;
      border-bottom: 1px solid #000;
    }

    button {
      color: $color-primario;
      background: #000;
      border: none;
      text-transform: uppercase;
      padding: 1em;
      width: 100%;
      padding: .7em;
      outline: 0;

      &:hover {
        background: $color-primario;
        color: #000;
        transition: background-color 1s ease-out;
        outline: 0;
      }

      &:focus {
        background: #000;
        color: $color-primario;
        transition: background-color 1s ease-out;
        outline: 0;
      }
    }
  }
}
  iframe{
    grid-area: iframe;
    height: 300px;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  