header {
  background-color: #ebf5f1;

  a {
    text-decoration: none;
    color: #000;
  }
}

nav {
  background-color: #ebf5f1;
  width: 100%;
  position: sticky;
  top: 0;
  padding: 5px;
  z-index: 1000000;
  display: flex;
  justify-content: center;

  a {
    display: flex;
    padding: 7px 10px;
    font-size: 20px;
    margin: 0 2px;
    transition: .5s ease all;
    text-decoration: none;
    color: #000;

    &:hover {
      text-decoration: underline;
    }
  }
}

.presentation {
  height: 720px;
  font-size: 25px;
}

.presentation-video {
  height: 800px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;

  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.presentation-content {
  color: #fff;
  text-align: center;
  padding: 250px 0;
  margin: auto;
}

.carta {
  grid-area: about;
  display: grid;
  grid-template-areas: "img1 img1 parrafo1 parrafo1" "parrafo2 parrafo2 img2 img2";
  padding: 10px;
}

.img1 {
  grid-area: img1;
  padding: 10px;
}

.parrafo1 {
  grid-area: parrafo1;
  padding: 10px;
}

.img2 {
  grid-area: img2;
  padding: 10px;
}

.parrafo2 {
  grid-area: parrafo2;
  padding: 10px;
}