.productos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0px;
}

.producto-contenedor {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 350px;
  height: 450px;
  padding: 20px;
  margin: 20px;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    z-index: 1000px;
  }
}

.contenedor-producto {
  padding: 2px 2px;
}